<app-header></app-header>
<div class="container mt-5">
    <div class="card p-3">
        <form #placeOrderForm="ngForm" (ngSubmit)="placeOrder(placeOrderForm)">
            <div class="row">

                <div class="col-6">
                    <h3>Shipping Infomation</h3>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label>Shipping Method</mat-label>
                                    <mat-select [(ngModel)]="orderDetails.shipping" [ngModelOptions]="{standalone: true}">
                                        <mat-option value="27000">
                                            Standard
                                        </mat-option>
        
                                        <mat-option value="56000">
                                            Fast
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col mt-3">
                                Fee: {{orderDetails.shipping | currency:'VND':'symbol':'3.1-1':'vi'}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input required="" type="text" class="form-control"
                            placeholder="Where do you want us to deliver ?" [(ngModel)]="orderDetails.address"
                            name="address">
                    </div>

                    <div class="form-group">
                        <input required="" type="text" class="form-control" placeholder="Enter your phone number"
                            [(ngModel)]="orderDetails.phone" name="phone">
                    </div>
                </div>

                <div class="col-6">
                    <h3>Your Order</h3>
                    <div class="form-group">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let Item of cartItems">
                                    <td>{{Item.product.name}}</td>
                                    <td>{{Item.product.price | currency:'VND':'symbol':'3.1-1':'vi'}}</td>
                                    <td>
                                        {{Item.quantity}}
                                    </td>
                                    <td>
                                        {{Item.product.price * Item.quantity | currency:'VND':'symbol':'3.1-1':'vi'}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="font-weight-bold">Total</td>
                                    <td></td>
                                    <td></td>
                                    <td> {{cartDetails.totalValue | currency:'VND':'symbol':'3.1-1':'vi'}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div>
                    <button type="submit" mat-raised-button color="primary">Place Order</button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>